#main-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

#main-game #play-song-btn {
  background-color: #1ed760;
  border: none;
  border-radius: 100%;
  height: 175px;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  will-change: transform;
  margin-bottom: 3rem;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#main-game #play-song-btn img {
  height: 75px;
  width: 75px;
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#main-game #play-song-btn:hover {
  background-color: #1ab952;
  cursor: pointer;
}

#main-game #guess-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#main-game #guess-form #guess-input {
  border: none;
  padding: 25px;
  font-size: 26px;
  background-color: #eee;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

#main-game #guess-form #guess-input:disabled {
  background-color: #adadad;
}

#main-game #guess-form #submit-guess {
  background-color: #1ed760;
  padding: 25px;
  color: #fff;
  font-size: 26px;
  border: none;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

#main-game #guess-form #submit-guess:hover {
  background-color: #1ab952;
  cursor: pointer;
}

#main-game #guess-form #submit-guess:disabled {
  background-color: #19a149;
  cursor: not-allowed;
  color: #ddd;
}

#restart-game-container {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#restart-game-container #restart-game-btn {
  background-color: #1ed760;
  width: 175px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
}

#restart-game-container #restart-game-btn:hover {
  background-color: #1ab952;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  #guess-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  #guess-form #guess-input {
    text-align: center;
    width: 100%;
  }
  #guess-form #submit-guess {
    width: 100%;
  }
}
/*# sourceMappingURL=MainGame.css.map */